<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
</head>

<body>
	
	
	 <section class=" text-center" style="gradie ; background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.2)) , url('assets/img/footer.jpg');  background-repeat: no-repeat;
  background-size: cover; height: 500px;" >
    <div class="container">
		 <div class="clear" style="padding-top: 10%" >&nbsp;</div>
      <h1 class="text-white">Book your visit to KidzTechCentre Today!</h1>
      <p class="lead text-white">Send us an inquiry</p>
      <p>
        <a href="http://wassap.my/601156363457">
            <img alt="Whatsapp" src="assets/img/My project (11).png" width="500" height="200">
        </a>
      </p>
    </div>
  </section>
	
	<!--Footer Section-->
<footer class="footerSection">
	<div class="footer-container">
		<div class="container">
			<div class="row row-eq-height">
				<div class="col-md-4">
					<div class="footerLogo">
						<img src="assets/img/ktc-logo-2nd.svg" alt="" class="img-fluid">
					</div>
					<div class="footerText">
						<p class="text-white">KidzTechCentre is an educational centre which is specially designed for kids aged 7-17 in order to fulfil the needs to catch up with the current STEAM (Science, Technology, Engineering, Arts and Mathematics) learning trend.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="footerTitle">
						<h5>Quick Link</h5>
					</div>
					<div class="row">
						<div class="col-md-6">
							<ul class="footer-getTouch">
								<li><a href="https://www.kidztechcentre.com">Home</a></li>
								<li><a href="https://www.kidztechcentre.com/about.html">About Us</a></li>
								<!--li><a href="#">Exhibit</a></li-->
								<li><a href="https://www.kidztechcentre.com/exhibits.html">Exhibits</a></li>
								<li><a href="https://www.kidztechcentre.com/gallery.html">Gallery</a></li>
								<!--li><a href="#">Events</a></li-->
							</ul>
						</div>
						<div class="col-md-6">
							<ul class="footer-getTouch">
								<li><a href="https://www.kidztechcentre.com/visit.html">Group Visit</a></li>
								<li><a href="https://www.kidztechcentre.com/promotion.html">Promotions</a></li>
								<li><a href="https://www.kidztechcentre.com/contact.html">Contact Us</a></li>
								<li><a href="https://www.kidztechcentre.com/assets/doc/PERSONAL-DATA-PRIVACY-NOTICE-(PDPA).pdf" data-fancybox data-type="iframe">Data Privacy</a></li>
																<!--li><a href="#">FAQ's</a></li-->
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="footerTitle">
						<h5>Get in Touch</h5>
					</div>
					<ul class="footer-getTouch">
						<li class="gps"><a href="../contact.html">Rekascape, <br>Level 1, RekaScape,
Persiaran Apec,Cyber 8,
63000 Cyberjaya, Selangor</a></li>
						<li class="phone"><a href="tel:+6011 5636 3457">+6011 5636 3457</a></li>
						<li class="email"><a href="mailto:info@kidztechcentre.com">info@kidztechcentre.com</span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
<footer class="copyright">
	<div class="copyright-container">
		<div class="container">
			<div class="row">
				<div class="col-md-6 text-left">
					<p>Copyright &copy; 2023, All rights reserved by KidzTechCentre</p>
				</div>
				<div class="col-md-6 text-right">
					<p>Proudly developed by <a href="http://www.dreamedge.jp/creativework/">Creative Work Group</a></p>
				</div>
			</div>
		</div>
	</div>
</footer>
<!--Footer Section-->

</body>
</html>